body {
  background-color:#00d1c6;
  margin:0;
}
.element {
  width:375px;
  height:667px;
  background-color:white;
  margin:15px auto;
  text-align: center;
  /* overflow: scroll; */
}

p{
/* Welcome: */
font-family: AvenirNext-Bold;
font-size: 46px;
}